<?xml version="1.0"?>
<config>
    <modules>
        <Devils_Collections>
            <version>0.1.0.0</version>
        </Devils_Collections>
    </modules>
    <global>
        <blocks>
            <devils_collections>
                <class>Devils_Collections_Block</class>
            </devils_collections>
        </blocks>
        <resources>
            <devils_collections_setup>
                <setup>
                    <module>Devils_Collections</module>
                    <class>Devils_Collections_Model_Resource_Setup</class>
                </setup>
            </devils_collections_setup>
        </resources>
        <models>
            <devils_collections>
                <class>Devils_Collections_Model</class>
                <resourceModel>devils_collections_resource</resourceModel>
            </devils_collections>
            <devils_collections_resource>
                <class>Devils_Collections_Model_Resource</class>
                <entities>
                    <collections_source>
                        <table>devils_collections_entity</table>
                    </collections_source>
                </entities>
            </devils_collections_resource>
        </models>
        <helpers>
            <devils_collections>
                <class>Devils_Collections_Helper</class>
            </devils_collections>
        </helpers>
        <rewrite>
            <collections_url>
                <from><![CDATA[/collections\/(\d+)/]]></from>
                <to><![CDATA[collections/index/view/id/$1]]></to>
            </collections_url>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <devils_collections>
                <use>standard</use>
                <args>
                    <module>Devils_Collections</module>
                    <frontName>collections</frontName>
                </args>
            </devils_collections>
        </routers>
        <default>
            <router>devils_collections</router>
        </default>
        <layout>
            <updates>
                <devils_collections>
                    <file>devils/collections.xml</file>
                </devils_collections>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Devils_Collections after="Mage_Adminhtml">Devils_Collections_Adminhtml</Devils_Collections>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devils_collections>
                    <file>devils/collections.xml</file>
                </devils_collections>
            </updates>
        </layout>
    </adminhtml>
</config>